<form *ngIf="!showConfirmation">
  <h1>Signup to Vote!</h1>
  <div class="form-group">
    <label for="email">Email</label>
    <input [(ngModel)]="user.email" type="email" name="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <div class="form-group">
    <label for="firstName">First Name</label>
    <input [(ngModel)]="user.firstName" type="text" name="firstName" class="form-control" id="firstName" aria-describedby="firstNameHelp" placeholder="First Name">
  </div>
  <div class="form-group">
    <label for="lastName">Last Name</label>
    <input [(ngModel)]="user.lastName" type="text" name="lastName" class="form-control" id="lastName" aria-describedby="lastNameHelp" placeholder="Last Name">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input [(ngModel)]="user.password" type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
  </div>
  <button type="button" (click)="submit(user)" class="btn btn-primary">Submit</button>
</form>

<app-confirmation *ngIf="showConfirmation" [user]="user"></app-confirmation>
