<app-loading *ngIf="busy"></app-loading>

<form *ngIf="!busy" class="mb-2" name="createProposal">
  <h3>Create a Proposal</h3>
  <div class="form-group">
    <label for="voterGroup">Select Voter Group</label>
    <select class="form-control" id="voterGroup" name="voterGroup" [(ngModel)]="proposal.voterGroupId">
      <option *ngFor="let voterGroup of voterGroups"
              [value]="voterGroup.pk">
        {{voterGroup.title}}
      </option>
    </select>
  </div>
  <div class="form-group">
    <input type="text"
           name="title"
           class="form-control"
           id="proposalTitle"
           aria-describedby="titleHelp"
           [(ngModel)]="proposal.title"
           placeholder="Enter title of the proposal">
  </div>
  <div class="form-group">
    <textarea class="form-control"
              name="description"
              id="proposalDescription"
              [(ngModel)]="proposal.description"
              placeholder="Describe your proposal"
              rows="3">
    </textarea>
  </div>
  <button type="button"
          class="btn btn-primary"
          (click)="createProposal(proposal)">
    Create Proposal
  </button>
</form>

<app-error-message *ngIf="error"></app-error-message>

