<form name="createProposal">
  <h1>Create a Proposal</h1>
  <div class="form-group">
    <label for="voterGroup">Select Voter Group</label>
    <select class="form-control" id="voterGroup" name="voterGroup" [(ngModel)]="proposal.voterGroupId">
      <option *ngFor="let voterGroup of voterGroups"
              [value]="voterGroup.voterGroupId">
        {{voterGroup.name}}
      </option>
    </select>
  </div>
  <div class="form-group">
    <label for="proposalName">Name</label>
    <input type="text"
           name="name"
           class="form-control"
           id="proposalName"
           aria-describedby="nameHelp"
           [(ngModel)]="proposal.name"
           placeholder="Enter name of the proposal">
  </div>
  <div class="form-group">
    <label for="proposalDescription">Description</label>
    <textarea class="form-control"
              name="description"
              id="proposalDescription"
              [(ngModel)]="proposal.description"
              placeholder="Describe your proposal"
              rows="3">
    </textarea>
  </div>
  <div class="custom-file mb-3">
    <input type="file"
           class="custom-file-input"
           id="proposalAttachment">
    <label class="custom-file-label"
           for="proposalAttachment">
      Choose file...
    </label>
  </div>
  <button type="button"
          class="btn btn-primary"
          (click)="createProposal(proposal)">
    Create Proposal
  </button>
</form>
