<h2>{{voterGroup.title}}</h2>
<p>{{voterGroup.description}}</p>
<div class="card shadow mb-5 bg-white rounded"
     style="width: 18rem;">
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      <h6 class="mb-0">Michael Jeppesen</h6>
    </li>
    <li class="list-group-item">
      <h6 class="mb-0">Michelle Bates</h6>
    </li>
    <li class="list-group-item">
      <h6 class="mb-0">Deanna Flescher</h6>
    </li>
    <li class="list-group-item">
      <h6 class="mb-0">Islando Sparks</h6>
    </li>
    <li class="list-group-item">
      <h6 class="mb-0">Vern Coffey</h6>
    </li>
    <li class="list-group-item">
      <h6 class="mb-0">All Star</h6>
    </li>
  </ul>
</div>

<div class="input-group mb-3">
  <input type="email"
         name="email"
         class="form-control"
         id="loginEmail"
         [(ngModel)]="newVoter.email"
         aria-describedby="emailHelp"
         placeholder="Enter email">
  <div class="input-group-append">
    <button class="btn btn-primary" type="button" (click)="inviteUser(newVoter)">Invite Voter</button>
  </div>
</div>

<form>
  <div class="form-group">
    <label for="voterGroupName">Name</label>
    <input type="text"
           name="name"
           class="form-control"
           id="voterGroupName"
           aria-describedby="nameHelp"
           [(ngModel)]="voterGroup.title"
           placeholder="Enter name of the voter group">
  </div>
  <div class="row p-0">
    <div class="col-sm-4">
      <button type="button"
              class="btn btn-primary"
              (click)="updateVoterGroup(voterGroup)">
        Create Voter Group
      </button>
    </div>
  </div>
</form>
