<app-loading *ngIf="busy"></app-loading>

<div class="mb-2" *ngIf="!busy">
  <h3>{{voterGroup.title}}</h3>
  <p>{{voterGroup.description}}</p>
  <div class="input-group mb-3">
    <input type="email"
           name="email"
           class="form-control"
           id="loginEmail"
           [(ngModel)]="newVoter.email"
           aria-describedby="emailHelp"
           placeholder="Enter email">
    <div class="input-group-append">
      <button class="btn btn-primary" type="button" (click)="inviteUser(newVoter)">Invite Voter</button>
    </div>
  </div>
</div>

<app-error-message *ngIf="error"></app-error-message>


