<h2>Your Ballots</h2>
<div class="card shadow mb-5 bg-white rounded">
  <h4 class="card-header">Increase Total Number of Shares</h4>
  <div class="card-body">
    <h6 class="card-title">
      <span class="font-weight-bold">Poll Closes: </span>April 1, 2019
    </h6>
    <a [routerLink]="['/proposal/id']" class="btn btn-warning">Vote Now</a>
  </div>
</div>

<h2>Your Voting Groups</h2>
<div class="card shadow mb-5 bg-white rounded">
  <h4 class="card-header">Quarry Residents</h4>
  <div class="card-body">
    <h6 class="card-title">
      <span class="font-weight-bold">Participants: </span>23
    </h6>
    <a class="btn btn-warning" [routerLink]="['/voter-group']">View Voter Group</a>
  </div>
</div>
<div class="card shadow mb-5 bg-white rounded">
  <h4 class="card-header">Quarry Shareholders</h4>
  <div class="card-body">
    <h6 class="card-title">
      <span class="font-weight-bold">Participants: </span>45
    </h6>
    <a class="btn btn-warning" [routerLink]="['/voter-group']">View Voter Group</a>
  </div>
</div>
<div class="card shadow mb-5 bg-white rounded">
  <h4 class="card-header">Quarry Board of Directors</h4>
  <div class="card-body">
    <h6 class="card-title">
      <span class="font-weight-bold">Participants: </span>6
    </h6>
    <a class="btn btn-warning" [routerLink]="['/voter-group']">View Voter Group</a>
  </div>
</div>
