<form>
  <h1>Create a Voter Group</h1>
  <div class="form-group">
    <label for="voterGroupTitle">Title</label>
    <input type="text"
           name="title"
           class="form-control"
           id="voterGroupTitle"
           aria-describedby="titleHelp"
           [(ngModel)]="voterGroup.title"
           placeholder="Enter title of the voter group">
  </div>
  <div class="form-group">
    <label for="voterGroupDescription">Description</label>
    <textarea class="form-control"
              name="description"
              id="voterGroupDescription"
              [(ngModel)]="voterGroup.description"
              placeholder="Describe your voter group"
              rows="3">
    </textarea>
  </div>
  <div *ngIf="addVoter" class="input-group mb-3">
    <input type="email"
           name="email"
           class="form-control"
           id="loginEmail"
           aria-describedby="emailHelp"
           placeholder="Enter email">
    <div class="input-group-append">
      <button class="btn btn-primary" type="button">Invite Voter</button>
    </div>
  </div>
  <div class="row p-0">
    <div class="col-sm-4 mb-2">
      <button type="button"
              class="btn btn-large btn-warning"
              (click)="addVoter = true;">
        Add Voter
      </button>
    </div>
  </div>
  <div class="row p-0">
    <div class="col-sm-4">
      <button type="button"
              class="btn btn-primary"
              (click)="createVoterGroup(voterGroup)">
        Create Voter Group
      </button>
    </div>
  </div>
</form>
