<app-loading *ngIf="busy"></app-loading>

<div *ngIf="!busy && voterGroups.length == 0" class="padding-top-10vh">
  <div class="row align-items-center padding-top-20vh">
    <div class="col-12 text-center">
      <h3>You need to create a voter group</h3>
      <div>
        <button class="btn btn-info btn-lg mr-2" type="button" (click)="createVoterGroup()">Create Voter Group</button>
      </div>
    </div>
  </div>
</div>

<div *ngIf="!busy && proposals.length == 0">
  <div class="row align-items-center padding-top-20vh">
    <div class="col-12 text-center">
      <h3>Create a proposal</h3>
      <div>
        <button class="btn btn-success btn-lg" type="button" (click)="createProposal()">Create Proposal</button>
      </div>
    </div>
  </div>
</div>


<div *ngIf="!busy">
  <div *ngIf="proposals?.length > 0">
    <h3>Your Proposals</h3>
    <div *ngFor="let proposal of proposals" class="card shadow mb-5 bg-white rounded">
      <h4 class="card-header">{{proposal.title}}</h4>
      <div class="card-body">
        <!--<a class="btn btn-warning" [routerLink]="['/proposal/' + proposal.pk]">View Proposal</a>-->
        <button type="button"
                class="btn btn-warning"
                (click)="viewProposal(proposal)">
          View Proposal
        </button>
      </div>
    </div>
  </div>

  <div *ngIf="voterGroups?.length > 0">
    <h2>Your Voting Groups</h2>
    <div *ngFor="let voterGroup of voterGroups" class="card shadow mb-5 bg-white rounded">
      <h4 class="card-header">{{voterGroup.title}}</h4>
      <div class="card-body">
        <h6 class="card-title">
          {{voterGroup.description}}
        </h6>
        <button type="button"
                class="btn btn-warning"
                (click)="viewVoterGroup(voterGroup)">
          View Voter Group
        </button>
      </div>
    </div>
  </div>
</div>
